<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:24</p>
            <h2><a href="">My First Blog</a></h2>
            <p>Aenla ladjlkakadj alkdsjfawkdhflgk alksdjf alksdjf
            adlkfgoiaecmcnaoidf alskdjfoaiw adkjfoa alksdjf aokdjf oifaoih
            osdfsdlkfjgoe sldkfgjsoeigjsdlkfjg osfkgjslkdfjirlskdfja;
            lkdfjgorlsdkfjg sldfkgjslsdfkgj sdkf lsdfkgjselaka;krik lsdkfjgsir
            sldkfjgsdrijdkfjg slkfgjoljfapoeriu sdlfkgjoeirg slfkgjsoerkf
            gsrijg.</p>
        </div>

         <div>
            <p>published: 14.06.2014, 12:40</p>
            <h2><a href="">My Second Blog</a></h2>
            <p>Aenla ladjlkakadj alkdsjfawkdhflgk alksdjf alksdjf
            adlkfgoiaecmcnaoidf alskdjfoaiw adkjfoa alksdjf aokdjf oifaoih
            osdfsdlkfjgoe sldkfgjsoeigjsdlkfjg osfkgjslkdfjirlskdfja;
            lkdfjgorlsdkfjg sldfkgjslsdfkgj sdkf lsdfkgjselaka;krik lsdkfjgsir
            sldkfjgsdrijdkfjg slkfgjoljfapoeriu sdlfkgjoeirg slfkgjsoerkf
            gsrijg.</p>
        </div>

    </body>
</html>
