.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    font-size: 8pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px
}

.top-menu-small-text {
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 20px
}
   

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.form-login {
    border: 3px solid #f1f1f1;
    padding: 14px 20px;
    width: 50%;
}

.button-login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
}

.page-footer {
    position: relative;
    background: #ff9400;/* #061D25;*/
    padding: 10px 0;
    /*background-color: #ff9400; 
    z-index: 10;
    height: 3em;
    margin-top: -3em;*/
    text-align: left;
    color: #70726F; 

}

.page-footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.page-footer a:first-child {
    border-left: 1px solid #70726F;
}

.page-footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.comment {
    margin: 20px 0px 20px 20px;
}
